// @each
// @each $color in red, green, blue{
//     .#{$color}-text {color:$color};
// }

// 2nd way @each color variable
$colors:(color1:red, color2:green, color3:blue);

@each $key, $color in $colors{
    .#{$color}-text {color:$color};
}

// row colum divided
[class*="col-"]{
    float: left;
}

// @for $i from 1 to 13 or
// @for $i from 1 through 12 or

// @for $i from 1 through 12{
//     .col-#{$i} {
//     width: 100% / 12 * $i;
//      }
// }
// while loop
$i : 1;

@while $i < 13{
    .col-#{$i} {
        width: 100% / 12 * $i;
    }
    $i: $i+1;
}


.row::after{
    clear: both;
    content: "";
    display: table;
}
// @if, @else if, @else
@mixin setFontSize($value){
    @if($value == small){
        font-size: 12px;
    }
    @else if($value == medium){
        font-size : 16px;
    }
    @else if($value == large){
        font-size : 20px;
    }
    @else{
        font-size: none;
    }
}

// @for loop for sass

// color variable declaration
$header-bgcolor: #ffab73;
$main-bgcolor: #ffd384;
$footer-bgcolor: #ffaec0;

// font size
$para-fontsize: 15px;
// button variable
// button extend option

.btn{
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: .4s;
}

.btn-download{
    @extend .btn;
}

.btn-learnmore{
    @extend .btn;
    background: #f1b186;
}

.btn-learnmore:hover{
    background: white;
}

.btn-download:hover{
    background: white;
}

// mixin creation with parameter
@mixin para-style($size, $align) {
    font-size: $size;
    text-align: $align;
}

// mixing use with parameter value
#education p{
    @include para-style(20px, justify);
    margin: 20px 0;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: $header-bgcolor;
    padding: 10px;
}
nav{
    margin-top:15px;
    ul{
        list-style-type: none;
        li{
            display: inline-block;
            margin: 0 15px;
        }
        a{
            display: inline-block;
            color: white;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
            transition: .5s;
            @include setFontSize(large); 
        }
        a:hover{
            background: #000;
        }
    }
}

main{
    background: $main-bgcolor;
    padding: 10px;
}
#about p{
    font-size: $para-fontsize;
}
footer{
    padding: 10px;
    background: $footer-bgcolor;
}