// color variable declaration
$header-bgcolor: #ffab73;
$main-bgcolor: #ffd384;
$footer-bgcolor: #ffaec0;

// font size
$para-fontsize: 15px;
// button variable
// button extend option
.btn{
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: .4s;
}

.btn-download{
    @extend .btn;
}
.btn-learnmore{
    @extend .btn;
    background: #f1b186;
}

.btn-learnmore:hover{
    background: white;
}
.btn-download:hover{
    background: white;
}
// mixin creation with parameter
@mixin para-style($size, $align) {
    font-size: $size;
    text-align: $align;
}
// mixing use with parameter value
#education p{
    @include para-style(20px, justify);
    margin: 20px 0;
}

// @mixin para-style {
//     font-size: 20px;
//     text-align: justify;
// }
// // mixing use
// #education p{
//     @include para-style;
//     margin: 20px 0;
// }

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: $header-bgcolor;
    padding: 10px;
}
nav{
    margin-top:15px;
    ul{
        list-style-type: none;
        li{
            display: inline-block;
            margin: 0 15px;
        }
        a{
            display: inline-block;
            color: white;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
            transition: .5s;
            
        }
        a:hover{
            background: #000;
        }
    }
}
// nav{
//     margin-top:15px;
//     ul{
//         list-style-type: none;
//         li{
//             display: inline-block;
//             margin: 0 15px;
//         }
//         a{

//             display: inline-block;
//             color: white;
//             text-decoration: none;
//             padding: 10px;
//             transition: .4s;
//             border-radius: 5px;
                
            
//         }
//         a:hover{
//             background-color: #000;
//         }
//     }
// }

// nav sass nesting styling
// nav{
//     margin-top:15px;
//     ul{
//         list-style-type: none;
//         li{
//             display: inline-block;
//             margin: 0 15px;
//             a{
//                 display: inline-block;
//                 color: white;
//                 text-decoration: none;
//                 padding: 10px;
//                 transition: .4s;
//                 border-radius: 5px;
//             }
//             a:hover{
//                 background-color: #000;
//             }
//         }
//     }
// }


// normal css nav styling
// nav{
//     margin-top:15px;
   
// }
// nav ul{
//     list-style-type: none;
// }
// nav ul li{
//     display: inline-block;
// }
// nav ul li a{
//     display: inline-block;
//     color: white;
//     text-decoration: none;
//     padding: 10px;
//     transition: .4s;
//     border-radius: 5px;
// }
// nav ul li a:hover{
//     background-color: #000;
// }

main{
    background: $main-bgcolor;
    padding: 10px;
}
#about p{
    font-size: $para-fontsize;
}
footer{
    padding: 10px;
    background: $footer-bgcolor;
}